# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
streamlit
scikit-learn==1.2.2
scikit-survival==0.21.0
numpy<2.0.0
pandas<2.0.0
matplotlib
seaborn
