# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
streamlit
scikit-survival==0.14.0
scikit-learn
numpy
pandas
matplotlib
seaborn
